<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title>
      BudgetBoi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card to display Budget Breakdown -->
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Budget Breakdown</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1><strong>Margin:</strong> ${{margin}}</h1>
      <h1><strong>Cash:</strong> ${{cash}}</h1>

      <br>
      <h2><strong>Incomes:</strong> ${{incomesTotal}}</h2>
      <h2><strong>Bills:</strong> ${{billsTotal}}</h2>
      <h2><strong>Spending:</strong> ${{spendingTotal}}</h2>
    </ion-card-content>
  </ion-card>
  <!-- End of Budget Breakdown -->

  <!-- Card to display Incomes details -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Your Incomes
      </ion-card-title>
      <ion-card-subtitle>
        Total: ${{incomesTotal}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="medium">
      <p><strong>Starting Amount:</strong> ${{startAmount}}</p>

      <p *ngFor='let income of incomesArray'>
        <strong>{{income.name}}</strong> ${{income.amount}}
      </p>

      <p><strong>Other Income:</strong> ${{otherIncomesTotal}}</p>
    </ion-card-content>
  </ion-card>
  <!-- End of Incomes details -->

  <!-- Card to display Bills details -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Your Bills
      </ion-card-title>
      <ion-card-subtitle>
        Total: ${{billsTotal}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="medium">
      <p *ngFor='let bill of billsArray'>
        <strong>{{bill.name}}</strong> ${{bill.amount}}
      </p>
    </ion-card-content>
  </ion-card>
  <!-- End of Bills details -->

  <!-- Card to display Spending details -->
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Your Spending
      </ion-card-title>
      <ion-card-subtitle>
        Total: ${{spendingTotal}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="medium">
      <p *ngFor='let category of spendingArray'>
        <strong>{{category.name}}</strong> ${{category.amount}}
      </p>
    </ion-card-content>
  </ion-card>
  <!-- End of Spending details -->





</ion-content>


<!-- <ion-footer>
  <ion-toolbar color="light">
    <ion-title>Ad Space</ion-title>
  </ion-toolbar>
</ion-footer> -->