// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: dinosaur, serif;
  --ion-title-font-family: raleway, sans-serif;

  /** primary **/
  --ion-color-primary: #4d9861;
  --ion-color-primary-rgb: 77, 152, 97;
  --ion-color-primary-contrast: #f0f0fa;
  --ion-color-primary-contrast-rgb: 240, 240, 250;
  --ion-color-primary-shade: #448655;
  --ion-color-primary-tint: #5fa271;

  /** secondary **/
  --ion-color-secondary: #75c089;
  --ion-color-secondary-rgb: 117, 192, 137;
  --ion-color-secondary-contrast: #f0f0fa;
  --ion-color-secondary-contrast-rgb: 240, 240, 250;
  --ion-color-secondary-shade: #67a979;
  --ion-color-secondary-tint: #83c695;

  /** tertiary **/
  --ion-color-tertiary: #2d415f;
  --ion-color-tertiary-rgb: 45, 65, 95;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #283954;
  --ion-color-tertiary-tint: #42546f;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #1d293d;
  --ion-color-dark-rgb: 29, 41, 61;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a2436;
  --ion-color-dark-tint: #343e50;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #212f45;
  --ion-color-medium-contrast-rgb: 33, 47, 69;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f0f0fa;
  --ion-color-light-rgb: 240, 240, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d3d3dc;
  --ion-color-light-tint: #f2f2fb;

  --ion-background-color: #212f45;
  --ion-background-color-rgb: 33, 47, 69;

  --ion-text-color: #f0f0fa;
  --ion-text-color-rgb: 240, 240, 250;

  --ion-color-step-50: #2b394e;
  --ion-color-step-100: #364257;
  --ion-color-step-150: #404c60;
  --ion-color-step-200: #4a5669;
  --ion-color-step-250: #555f72;
  --ion-color-step-300: #5f697b;
  --ion-color-step-350: #697384;
  --ion-color-step-400: #747c8d;
  --ion-color-step-450: #7e8696;
  --ion-color-step-500: #8990a0;
  --ion-color-step-550: #9399a9;
  --ion-color-step-600: #9da3b2;
  --ion-color-step-650: #a8acbb;
  --ion-color-step-700: #b2b6c4;
  --ion-color-step-750: #bcc0cd;
  --ion-color-step-800: #c7c9d6;
  --ion-color-step-850: #d1d3df;
  --ion-color-step-900: #dbdde8;
  --ion-color-step-950: #e6e6f1;
}
