<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" color="light"></ion-back-button>
    <ion-title>
      BudgetBoi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
        <ion-card-title>Your Bills</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Check off each bill due during the pay period you are budgeting. 
      </ion-card-content>
  </ion-card>



  <ion-list lines="full" inset="true">



    <ion-item-sliding>
      <ion-item>
        <ion-checkbox slot="start" color="primary"></ion-checkbox>
        <ion-badge slot="start" color="light">1</ion-badge>
        <ion-label>Rent</ion-label>
        <ion-note slot="end">$925</ion-note>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="dark">
          <ion-icon name="create"></ion-icon>
          <ion-label>
            Edit
          </ion-label>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon name="trash"></ion-icon>
          <ion-label>
            Delete
          </ion-label>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>





    <!-- start of fake bills to make it look real -->




  <ion-item-sliding>
    <ion-item>
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-badge slot="start" color="light">1</ion-badge>
      <ion-label>Electricity</ion-label>
      <ion-note slot="end">$70</ion-note>
    </ion-item>
  
    <ion-item-options>
      <ion-item-option color="dark">
        <ion-icon name="create"></ion-icon>
        <ion-label>
          Edit
        </ion-label>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon name="trash"></ion-icon>
        <ion-label>
          Delete
        </ion-label>
      </ion-item-option>
  
    </ion-item-options>
  </ion-item-sliding>



  <ion-item-sliding>
    <ion-item>
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-badge slot="start" color="light">8</ion-badge>
      <ion-label>Amazon Prime</ion-label>
      <ion-note slot="end">$7</ion-note>
    </ion-item>
  
    <ion-item-options>
      <ion-item-option color="dark">
        <ion-icon name="create"></ion-icon>
        <ion-label>
          Edit
        </ion-label>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon name="trash"></ion-icon>
        <ion-label>
          Delete
        </ion-label>
      </ion-item-option>
  
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
      <ion-badge slot="start" color="light">10</ion-badge>
      <ion-label>Car Payment</ion-label>
      <ion-note slot="end">$185</ion-note>
    </ion-item>
  
    <ion-item-options>
      <ion-item-option color="dark">
        <ion-icon name="create"></ion-icon>
        <ion-label>
          Edit
        </ion-label>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon name="trash"></ion-icon>
        <ion-label>
          Delete
        </ion-label>
      </ion-item-option>
  
    </ion-item-options>
  </ion-item-sliding>




      <!-- end of fake bills -->



    <ion-item>
      <ion-icon name="add-circle" slot="start" color="primary"></ion-icon>
      <ion-label>Add a bill.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-title>Ad Space</ion-title>
  </ion-toolbar>
</ion-footer>