.dollar-label {
  margin-left: 5px;
  color: var(--ion-color-light);
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .category-item-name {
    min-width: 120px;
  }
  .category-item-input {
    width: 35px;
  }
}
